<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default_layout">
<head>
<title>루틴 생성 페이지</title>
</head>
<body layout:fragment="section">
	<div>근력 증가</div>
	<div>체중 감량</div>
	<h3>운동 레벨을 선택해주세요</h3>
	<div>초급</div>
	<div>중급</div>
	<div>상급</div>
	<h3>보유 장비를 선택해주세요</h3>
	<div>덤벨</div>
	<div>밴드</div>
	<div>풀업바</div>
	<div>사이클</div>
	<div>러닝머신</div>
	<h3>주당 운동 일수를 선택해주세요</h3>
	<div>1일</div>
	<div>2일</div>
	<div>3일</div>
	<div>4일</div>
	<div>5일</div>
	<div>6일</div>
	<div>7일</div>
	<h3>운동분할을 선택해주세요.</h3>
	<div>무분할</div>
	<div>2분할</div>
	<div>3분할</div>
	<div>4분할</div>
	<div>5분할</div>
	<h3>루틴 생성</h3>
</body>
</html>