<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
<head>
	<title>루틴 상세 페이지</title>
</head>
<body layout:fragment="section">
	Hello default Routine Detail World
	<input type="button" value="루틴 목록 페이지" onclick="location.href='/defaultRoutine'">
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	Hello default Routine Detail World
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	Hello default Routine Detail World
</body>
</html>