<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
<head>
	<title>루틴 목록 페이지</title>
	<link rel="stylesheet" href="/css/flexitem.css">
</head>
<body layout:fragment="section">
	<div>기본 루틴</div>
	<div class="flex-container">
		<th:block th:each="routine : ${routines}">
			<a th:href="|/routine/default/${routine.rout_no}|">
				<div class="flex-item" th:text=${routine.name}></div>
			</a>
		</th:block>
	</div>
</body>
</html>