<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default_layout">
<head>
	<title>
		[[${routine.name}]]
	</title>
	<link rel="stylesheet" href="/css/detailpage.css">
	<script th:inline="javascript">
		var lang = location.pathname.substr(0, 3);

		function addroutineBookmark(routineId) {
			let isRoutineBookmarked = $('#bookmark-btn').hasClass('active');
			$.ajax({
				url: lang + "/default/" + routineId,
				type: "POST",
				dataType: "json",
				data: {
					bookmarkFlag: isRoutineBookmarked // 현재 버튼 상태의 반대값 전달
				},
				success: function(result) {
					if (result.status === 'success') {
						if(isRoutineBookmarked) {
							// alert("북마크가 삭제되었습니다.");
							$('#bookmark-btn').removeClass('active'); // 버튼 OFF
						} else {
							// alert("북마크에 추가되었습니다.");
							$('#bookmark-btn').addClass('active'); // 버튼 ON
						}
					} else if (result.status === 'fail') {
						alert("오류가 발생했습니다.");
					} else {
						alert(result.message);
					}
				},
				error: function(xhr, status, error) {
					console.log(xhr);
					if (xhr.status == 401) {
						if(confirm(xhr.responseText)) {
							location.href = lang + '/login?redirectURL=' + location.pathname; // 로그인 페이지로 이동
						}
					}
				}
			});
		}

		$(() => {
			let routineId =  [[${rout_no}]];
			$("#bookmark-btn").click(function() {
				addroutineBookmark(routineId);
			});

			$("#go-menu").click(function() {
				// location.href = location.href.replace(/(?<=default\/)\d*/, ''); // 웹킷 엔진에서 (?<=)를 인식 못 하는 듯?
				let path = location.pathname.split('/');
				location.href = location.origin + '/' + path[1] + '/' + path[2] + '/' + path[3] + '/' + location.search;
			});
		});
	</script>
</head>
<body layout:fragment="section">
	<div class="text-center">
		<h1>
			<button id="bookmark-btn" class="active" th:unless="${bookmarked == null}"></button>
			<button id="bookmark-btn" th:if="${bookmarked == null}"></button>
			[[${routine.name}]]
		</h1>
		<h3 th:text="${routine.guide}"></h3>
		<div id="box" class="flex-center">
			<div class="text-center">
				<th:block th:if="${routine.diff == 1}" th:switch="${lang}">
					<th:block th:case="ko"><h4>난이도</h4><hr>초급</th:block>
					<th:block th:case="jp"><h4>難度</h4><hr>初級</th:block>
					<th:block th:case="*"><h4>Difficulty</h4><hr>Beginner</th:block>
				</th:block>
				<th:block th:if="${routine.diff == 2}" th:switch="${lang}">
					<th:block th:case="ko"><h4>난이도</h4><hr>중급</th:block>
					<th:block th:case="jp"><h4>難度</h4><hr>中級</th:block>
					<th:block th:case="*"><h4>Difficulty</h4><hr>Intermediate</th:block>
				</th:block>
				<th:block th:if="${routine.diff == 3}" th:switch="${lang}">
					<th:block th:case="ko"><h4>난이도</h4><hr>상급</th:block>
					<th:block th:case="jp"><h4>難度</h4><hr>上級</th:block>
					<th:block th:case="*"><h4>Difficulty</h4><hr>Advanced</th:block>
				</th:block>
			</div>
			<div class="text-center">
				<h4 th:switch="${lang}">
					<th:block th:case="ko">사용 장비</th:block>
					<th:block th:case="jp">装備</th:block>
					<th:block th:case="*">Equipment</th:block>
				</h4>
				<hr>
				[[${#strings.replace(#strings.replace(routine.equip,'[','&nbsp;'),']','&nbsp;')}]]
			</div>
			<div class="text-center" th:switch="${lang}">
				<th:block th:case="ko"><h4>운동 시간</h4><hr>[[${routine.runtime}]]분</th:block>
				<th:block th:case="jp"><h4>運動時間</h4><hr>[[${routine.runtime}]]分</th:block>
				<th:block th:case="*"><h4>Runtime</h4><hr>[[${routine.runtime}]]min</th:block>
			</div>
		</div>
	</div>
	<div id="routine" class="flex-center">
		<div class="text-center" th:each="steps : ${routine.getStep()}">
			<h3 th:switch="${lang}">
				<th:block th:case="ko" th:text="|${stepsStat.count}일차|"></th:block>
				<th:block th:case="jp" th:text="|${stepsStat.count}日目|"></th:block>
				<th:block th:case="*" th:text="|Day ${stepsStat.count}|"></th:block>
			</h3>
			<input type="button" class="pointer" value="▶" th:onclick="|location.href='@{/{lang}/routine/run/d/{rout_no}/{step}(lang=${lang}, rout_no=${routine.rout_no}, step=${stepsStat.count})}'|">
			<hr>
			<th:block th:each="step : ${steps}">
				<span>
					[[${step.info.name}]] :
					<th:block th:switch="${lang}">
						<th:block th:case="ko">[[${step.set}]]세트</th:block>
						<th:block th:case="jp">[[${step.set}]]セット</th:block>
						<th:block th:case="*">[[${step.set}]]set</th:block>
					</th:block>
				</span>
				<br>
			</th:block>
		</div>
	</div>
	<div class="text-center">
		<div id="go-menu" class="flex-center pointer" th:switch="${lang}">
			<th:block th:case="ko">뒤로 가기</th:block>
			<th:block th:case="jp">戻る</th:block>
			<th:block th:case="*">Backward</th:block>
		</div>
	</div>
</body>
</html>