<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default_layout">
<head>
	<title>
		<th:block th:switch="${lang}">
			<th:block th:case="ko">메인</th:block>
			<th:block th:case="jp">メイン</th:block>
			<th:block th:case="*">Main</th:block>
		</th:block>
	</title>
	<link rel="stylesheet" href="/css/flexitem.css">
</head>
<body layout:fragment="section">
	<h1>
		운동이 쉬워진다.<br>ABC FITNESS
	</h1>
	<br>
	<h2>가장 인기 있는 운동</h2>
	<div class="flex-container">
		<a th:each="exercise : ${exercises}" th:href="|/${lang}/exercise/${exercise.ex_no}|">
			<div class="flex-item">
				<img th:src="${#strings.replace(exercise.image,'.gif','.png')}"
					th:alt="${exercise.name}">
				<div class="item-name flex-center" th:text="${exercise.name}"></div>
			</div>
		</a>
	</div>
	<br>
	<h2>가장 인기 있는 루틴</h2>
	<div class="flex-container">
		<a th:each="routine : ${routines}" th:href="|/${lang}/routine/default/${routine.rout_no}|">
			<div class="flex-item">
				<img src="/images/etc/default1.png" th:if="${routineStat.count % 5 == 1}">
				<img src="/images/etc/default2.png" th:if="${routineStat.count % 5 == 2}">
				<img src="/images/etc/default3.png" th:if="${routineStat.count % 5 == 3}">
				<img src="/images/etc/default4.png" th:if="${routineStat.count % 5 == 4}">
				<img src="/images/etc/default5.png" th:if="${routineStat.count % 5 == 0}">
				<div class="item-name flex-center" th:text="${routine.name}"></div>
			</div>
		</a>
	</div>
	<br>
	<h2>캐릭터별 루틴</h2>
	<div class="flex-container">
		<a href="character/saitama">
			<div class="flex-item">
				<img class="character" src="/images/etc/saitama-thumb.jpg">
			</div>
		</a>
		<a href="character/luffy">
			<div class="flex-item">
				<img class="character" src="/images/etc/luffy-thumb.jpg">
			</div>
		</a>
		<a href="character/zoro">
			<div class="flex-item">
				<img class="character" src="/images/etc/zoro-thumb.jpg">
			</div>
		</a>
		<a href="character/levi">
			<div class="flex-item">
				<img class="character" src="/images/etc/levi-thumb.jpeg">
			</div>
		</a>
		<a href="character/manjiro">
			<div class="flex-item">
				<img class="character" src="/images/etc/manjiro-thumb.jpg">
			</div>
		</a>
		<a href="character/tanjiro">
			<div class="flex-item">
				<img class="character" src="/images/etc/tanjiro-thumb.jpg">
			</div>
		</a>
	</div>
</body>
</html>