<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default_layout">
<head>
	<title>Levi Ackerman</title>
	<link rel="stylesheet" href="/css/character.css">
	<style>
		#section img {
			max-width: 360px;
			max-height: 540px;
			border-radius: 20px;
		}
	</style>
</head>
<body layout:fragment="section">
	<p class="titleForm">[ 진격의 거인 - 리바이 ]</p>
	<div style="text-align: center;">
		<br> <br> <img src="/images/etc/levi.jpg"><br>
		<br> <b>이름 : 리바이 아커만</b>
		<br> <b>키 : 160cm</b><br>
		<b> 체중 : 65kg</b>
		<br> <b>운동량 : 6일</b><br>
		<br>
		<br>
		<p class="titleForm">캐릭터 연구</p>
		<br>
		<r> 이사야마 하지메의 만화 《진격의 거인》의 등장인물.<br>
		호칭할 때는 주로 직급인 병사장을 붙여 '리바이 병사장' 혹은 '리바이 병장'이라고 불린다.<br>
		계급이 아니라 직책이 병장 혹은 병사장으로 분대장보다 높고 단장 바로 아래 직급이다.<br>
		작중 권한을 볼 때 영관급 정도의 직급으로 보인다. <br>
		2부에서 병단의 인원이 대폭 줄어버린 이후에는 거의 장성급의 지위를 행사한다. <br>
		조사병단 안에서 단장 엘빈 스미스에 이어, 미케와 함께 사실상 2인자의 위치다. </r>
		<br>
		<br>

		<p class="titleForm">캐릭터 운동 루틴</p>


		<pre>



	</div>


	<div class="routine2">
		<div class="routine">
			<div class="dayForm">월요일</div>
			<hr>
			<p>준비</p>
			<ul>
				<li>하이 니 25회 2세트</li>

				<li>점핑 잭 25회 2세트</li>

				<li>버트 킥 25회 2세트</li>
			</ul>
			<p>맨몸 운동</p>
			<ul>
				<li>푸시업 250회</li>
				<li>스쿼트: 200회</li>
				<li>윗몸 일으키기 150회</li>
				<li>딥스 150회</li>
				<li>풀업 100회</li>
			</ul>
			<p>추가 코어 운동</p>
			<ul>
				<li>플랭크: 60초 3세트</li>
				<li>할로우 홀드 45초 3세트</li>
				<li>엘 시트 30초 3세트</li>
			</ul>
		</div>















		<div class="routine">
			<div class="dayForm">화요일</div>
			<hr>
			<p>준비</p>
			<ul>
				<li>걷기 5-10분</li>
			</ul>
			<p>운동</p>
			<ul>
				<li>이단 뛰기 20회 5세트</li>
				<li>푸시업 25회 5세트</li>
				<li>이단 뛰기 20회 5세트</li>
				<li>스쿼트 20회 5세트</li>
				<li>이단 뛰기 20회 5세트</li>
				<li>딥스 15회 5세트</li>
				<li>풀업 10회 5세트</li>
			</ul>
		</div>







		<div class="routine2">
			<div class="routine">
				<div class="dayForm">수요일</div>
				<hr>
				<p>준비</p>
				<ul>
					<li>하이 니 25회 2세트</li>

					<li>점핑 잭 25회 2세트</li>

					<li>버트 킥 25회 2세트</li>
				</ul>
				<p>맨몸 운동</p>
				<ul>
					<li>푸시업 250회</li>
					<li>스쿼트: 200회</li>
					<li>윗몸 일으키기 150회</li>
					<li>딥스 150회</li>
					<li>풀업 100회</li>
				</ul>
				<p>추가 코어 운동</p>
				<ul>
					<li>플랭크: 60초 3세트</li>
					<li>할로우 홀드 45초 3세트</li>
					<li>엘 시트 30초 3세트</li>
				</ul>
			</div>





			<div class="routine">
				<div class="dayForm">목요일</div>
				<hr>
				<p>준비</p>
				<ul>
					<li>걷기 5-10분</li>
				</ul>
				<p>운동</p>
				<ul>
					<li>이단 뛰기 20회 5세트</li>
					<li>푸시업 25회 5세트</li>
					<li>이단 뛰기 20회 5세트</li>
					<li>스쿼트 20회 5세트</li>
					<li>이단 뛰기 20회 5세트</li>
					<li>딥스 15회 5세트</li>
					<li>풀업 10회 5세트</li>
				</ul>
			</div>


			<div class="routine2">
				<div class="routine">
					<div class="dayForm">금요일</div>
					<hr>
					<p>준비</p>
					<ul>
						<li>하이 니 25회 2세트</li>

						<li>점핑 잭 25회 2세트</li>

						<li>버트 킥 25회 2세트</li>
					</ul>
					<p>맨몸 운동</p>
					<ul>
						<li>푸시업 250회</li>
						<li>스쿼트: 200회</li>
						<li>윗몸 일으키기 150회</li>
						<li>딥스 150회</li>
						<li>풀업 100회</li>
					</ul>
					<p>추가 코어 운동</p>
					<ul>
						<li>플랭크: 60초 3세트</li>
						<li>할로우 홀드 45초 3세트</li>
						<li>엘 시트 30초 3세트</li>
					</ul>
				</div>







				<div class="routine">
					<div class="dayForm">일요일</div>
					<hr>
					<p>지구력 운동</p>
					<ul>
						<li>초보자: 1.6km~4.8km</li>
						<li>중급: 4.8km~8km</li>
						<li>고급: 8km 이상</li>
					</ul>
				</div>

			</div>



			</pre>
		</div>
</body>
</html>