<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default_layout">
<head>
  <meta charset="UTF-8">
  <title>Monkey D. Luffy</title>
 
<link rel="stylesheet" href="/css/character.css">
</head>

<body layout:fragment="section">

	<p class="titleForm">[ 원피스 - 몽키 D 루피 ]</p>
	<br>
  <div>
    <br>
    <br>
<img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAxNzA2MTJfMTQ4%2FMDAxNDk3MjU3Nzc1NTQ3.CMcKAQjkDFl8w9t3siUJQS-4vt-dpRdxOr2-HFg4Wqkg.P-M8QvIWIM4YhWMnGpeqJXC1QfTI9g4mv7g-cFU6wmAg.PNG.flywind9534%2F%25B7%25E7%25C7%25C7_1.png&type=ofullfill340_600_png",
 width="300" height="400"><br><br>
 <b>이름 : 몽키 D 루피</b><br>
 <b>키 : 174cm</b><br>
 <b> 체중 : 64kg</b><br>
  <b>운동량 : 4일</b><br><br><br>
<p  class="titleForm">캐릭터 연구</p>
    원피스의 주인공. <br>
    밀짚모자 일당의 선장이자 대선단의 두목이며 작중 나이 19세로 역대 최연소 사황이다.<br> 
    꿈은 골드 로저가 남긴 세계 제일의 보물 원피스를 찾아내 해적왕이 되는 것이다.
<br> <br> <br> 
<p class="titleForm">캐릭터 운동 루틴</p>


<pre>


</div>


<div class="routine2">
  <div class="routine">
    <div class="dayForm">월요일</div>
    <hr>
    <p> 준비</p>
    <ul>
      <li>10분 걷기 및 조깅</li>
    </ul>
    <p> 운동</p>
    <ul>
      <li>벤치 프레스 10회 4세트</li>
      <li>클로즈 그립 벤치 10회 3세트</li>
      <li>인클라인 덤벨 벤치 10회 3세트</li>
      <li>육각 프레스 10회 3세트</li>
      <li>벤트 오버 덤벨 로우  10회 3세트</li>
      <li>푸쉬업 25회 3세트</li>
      <li>더블 언더 20회 3세트</li>
      <li>덤벨을 이용한 케틀벨 스윙 10회 3세트</li>   
      <li>풀업 10회 3세트</li>
    </ul>
  </div>


  <div class="routine">
    <div class="dayForm">화요일</div>
    <hr>
    <p> 준비</p>
    <ul>
      <li>10분 걷기 및 조깅</li>
    </ul>
    <p> 운동</p>
    <ul>
        <li>백 스쿼트 12회 4세트</li>
        <li>카프 레이즈 10회 3세트</li>
        <li>레그 프레스 10회 3세트</li>
        <li>케이블 풀스루 10회 3세트</li>
        <li>플랭크 30초 3세트</li>
        <li>윗몸일으키기 20회 4세트</li>
        <li>버피 10회 4세트</li>
    </ul>
  </div>



  <div class="routine">
    <div class="dayForm">목요일</div>
    <hr>
    <p>준비</p>
    <ul>
      <li>10분 걷기 및 조깅</li>
    </ul>
    <p>운동</p>
    <ul>
      <li>라이트 시티드 아놀드 프레스 10회 3세트 </li>
      <li>바벨 슈러그 10회 3세트</li>
      <li>행 클린 w/ 바벨 10회 3세트</li>
      <li>케이블을 이용한 스트레이트 숄더 레이즈 10회 3세트</li>
      <li>딥 50회</li>
      <li>풀업 10회 3세트</li>
      <li>좀핑잭 15회 3세트</li>
      <li>딥 20회 3세트</li>
      <li>케틀벨 스윙 25회 3세트</li>
    </ul>
  </div>


  <div class="routine">
    <div class="dayForm">금요일</div>
    <hr>
    <p>준비</p>
    <ul>
      <li>10분 걷기 및 조깅</li>
    </ul>
    <p>운동</p>
    <ul>
      <li>데드리프트 12회 4세트</li>
      <li>바벨 벤트 오버 로우 10회 3세트</li>
      <li>프리처 컬 10회 3세트</li>
      <li>측면 풀다운 10회 3세트</li>
      <li>교대 덤벨 컬  15회 3세트</li>
      <li>더블 언더 30회 3세트</li>
      <li>푸쉬업 20회 3세트</li>
      <li>친업 10회 3세트</li>   
    </ul>
  </div>

</div>
 
</pre>
</div>


  
</body>
</html>