<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default_layout">
<head>
  <title>Manjiro sano</title>
  <link rel="stylesheet" href="/css/character.css">
  <style>
		#section img {
			max-width: 360px;
			max-height: 540px;
			border-radius: 20px;
		}
	</style>
</head>
<body layout:fragment="section">
	<p class="titleForm">[ 도쿄 리벤져스 - 사노 만지로 ]</p>
	
	<div style="text-align: center;">
		<br> <br> <img src="/images/etc/manjiro.png"><br>
		<br> <b>이름 : 사노 만지로</b>
		<br> <b>키 : 162cm</b><br>
		 <b>체중 : 61kg</b>
		<br> <b>운동량 : 5일</b><br>
		<br>
		<br>
		<p class="titleForm">캐릭터 연구</p>
		<br>
		<r>만화 도쿄 리벤저스의 등장인물.<br>
     도쿄 만지회의 총장. 별명은 무적의 마이키. <br>
     흉악한 범죄 조직 도만의 총장이며 주인공 타케미치는 마이키가 이끄는 도만의 폭주로 인하여 히나타를 잃어 타임리프를 시작하게 되었다.<br>
      도쿄 리벤저스 내 세계관 최강자로 162cm의 단신이지만 무적의 마이키라고 불릴 정도의 강력한 싸움 실력을 자랑한다.
		<br>
		<br>

		<p class="titleForm">캐릭터 운동 루틴</p>


		<pre>



	</div>


	<div class="routine2">
  <div class="routine">
    <div class="dayForm">월요일</div>
    <hr>
    <p> 준비</p>
    <ul>
      <li>10분 걷기 및 조깅</li>
    </ul>
    <p> 운동</p>
    <ul>
      <li>인클라인 덤벨 벤치 프레스 10회 3세트</li>
      <li>오버헤드 트라이셉스 익스텐션 10회 3세트</li>
      <li>딥 10회 3세트</li>
      <li>컬 투 프레스 10회 3세트</li>
      <li>벤트 오버 덤벨 로우  10회 3세트</li>
      <li>친업 10회 3세트</li>
      <li>와이드 투 클로즈 DB고블렛 스쿼트 15회 3세트</li>
      <li>덤벨을 이용한 케틀벨 스윙 10회 3세트</li>   
      <li>푸쉬업 20회 3세트</li>
    </ul>
  </div>



  <div class="routine">
    <div class="dayForm">화요일</div>
    <hr>
    <p> 준비</p>
    <ul>
      <li>점핑잭 25회</li>
      <li>하이 니즈</li>
    </ul>
    <p> 운동</p>
    <ul>
        <li>400m 달리기 4세트</li>
        <li>푸쉬업25회 4세트</li>
        <li>에어 스쿼트 20회 4세트</li>
        <li>윗몸일으키기 15회 4세트</li>
        <li>딥 12회 4세트</li>
        <li>풀업 10회 4세트</li>
    </ul>
  </div>


        <div class="routine">
          <div class="dayForm">수요일</div>
          <hr>
          <p> 준비</p>
          <ul>
            <li>10분 걷기 및 조깅</li>
          </ul>
          <p> 운동</p>
          <ul>
            <li>덤벨 플라이 10회 3세트</li>
            <li>레니게이드 행 10회 3세트</li>
            <li>플랭크 투 푸쉬업 10회 3세트</li>
            <li>덤벨 데드리프트 10회 3세트</li>
            <li>래터럴 레이즈  10회 3세트</li>
            <li>풀업 10회 3세트</li>
            <li>대둔근강화운동 15회 3세트</li>
            <li>맨메이커스 5회 3세트</li>   
            <li>디클라인 푸쉬업 3번</li>
          </ul>
        </div>
      


  <div class="routine">
    <div class="dayForm">목요일</div>
    <hr>
    <p>준비</p>
    <ul>
      <li>점핑잭 25회</li>
      <li>하이 니즈</li>
    </ul>
    <p>운동</p>
    <ul>
      <li>800m달리기 </li>
      <li>푸쉬업 75회</li>
      <li>시티드 레터럴 레이즈 12회 3세트</li>
      <li>에어 스쿼트 75회</li>
      <li>딥 50회</li>
      <li>풀업 25회</li>
      <li>L시트 홀드 30회 3세트</li>
      <li>행잉 레그레이즈 25회</li>
    </ul>
  </div>

  <div class="routine">
    <div class="dayForm">금요일</div>
    <hr>
    <p>준비</p>
    <ul>
      <li>10분 걷기 및 조깅</li>
    </ul>
    <p>운동</p>
    <ul>
      <li>시티드 덤벨 오버헤드 프레스 10회 3세트</li>
      <li>육각 프레스 10회 3세트</li>
      <li>체어 딥 10회 3세트</li>
      <li>불가리안 스플릿 스쿼트 각 다리 10회 3세트</li>
      <li>행잉 레그 레이즈  15회 3세트</li>
      <li>와이드 그립 풀업 10회 3세트</li>
      <li>덤벨 싱글 암 스내치 각 팔 8회 3세트</li>
      <li>마운틴클라임 10회 3세트</li>   
      <li>와이드 푸쉬업 20회 3세트</li>
      <li>선택사항 : 20~30 분 이상의 유산소 운동</li>
    </ul>
  </div>

</div>



			</pre>
		</div>
</body>
</html>