<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default_layout">
<head>
	<title>Saitama</title>
	<link rel="stylesheet" href="/css/character.css">
	<style>
		#section img {
			max-width: 360px;
			max-height: 540px;
			border-radius: 20px;
		}
	</style>
</head>

<body layout:fragment="section">

	<p class="titleForm">[ 원펀맨 - 사이타마 ]</p>

	<div style="text-align: center;">
		<br> <br> <img src="/images/etc/saitama.jpg"><br> <br> <b>이름 :
			사이타마</b><br> <b>키 : 179.8cm</b><br><b>체중 : 70kg</b>  <br> <b>운동량
			: 매일</b><br> <br> <br>
		<p class="titleForm">캐릭터 연구</p>
		<br> 
		<r> 만화 원펀맨의 주인공. 해당 작품 내 세계관 최강자다.<br>
		본명은 사이타마이며 작중에서 그와 가깝거나 어느 정도 잘 아는 인물은 이렇게 부르지만,<br>
		원펀맨 세계관에서 히어로는 히어로 네임으로 지칭하는 게 상식이라는 작중 언급이 있으므로 대외적인 명칭은 대머리 망토이다. </r>
		<br> <br>

		<p class="titleForm">캐릭터 운동 루틴</p>


		



	
	</div>


	<div class="routine2">
		<div class="routine">
			<div class="dayForm">매일 운동</div>
			<hr>
			<p>운동</p>
			<ul>
				<li>푸시업 100회</li>
				<li>윗몸 일으키기 100회</li>
				<li>스쿼트 100회</li>
				<li>러닝 10km</li>
			</ul>
		</div>

		
	</div>

</body>
</html>