
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default_layout">
<head>
<meta charset="UTF-8">
<title>Tanjiro Kamado</title>
<link rel="stylesheet" href="/css/character.css">
</head>
<body layout:fragment="section">
	<p class="titleForm">[ 귀멸의 칼날 - 카마도 탄지로 ]</p>
	<br>
	<div style="text-align: center;">

		<img
			src="https://i.namu.wiki/i/_Wj69-WN7KwgYbxzeixfVu86lZM-wqzd3wUUQXDFAdtuhsefwF55O9zBic41BHiZzwc5e1whcxqA-mGkfP1NlqTs2Ij05a1IXY4EsMylCDlzpRDLiEzDG_qfFm9sImin20XFBGwdbJKVYUbOYq1Qog.webp"
			,
 width="300" height="300"><br>
		<br> <b>이름 : 카마도 탄지로</b>
		<br> <b>키 : 165cm</b><br> 
			<b> 체중 : 61kg</b>
		<br> <b>운동량 : 5일</b><br>
		<br>
		<br>
		<p class="titleForm">캐릭터 연구</p>
		<br>
		<br>
		<r> 만화 '귀멸의 칼날'의 주인공. 가족이 키부츠지 무잔의 습격을 받아 세상을 떠났고 유일하게 살아남은 동생인
		네즈코가 혈귀로 변하지만 인간으로 돌려놓기 위해서 귀살대로 들어간다. </r>
		<br>
		<br>

		<p class="titleForm">캐릭터 운동 루틴</p>


		<pre>



	</div>




	<div class="routine2">
		<div class="routine">
			<div class="dayForm">월요일</div>
			<hr>
			<p>준비</p>
			<ul>
				<li>걷기 5-10분</li>
			</ul>
			<p>운동</p>
			<ul>
				<li>인클라인 덤벨 벤치 프레스 12회 3세트</li>
				<li>인클라인 덤벨 체스트 플라이 12회 3세트</li>
				<li>딥 12회 3세트</li>
				<li>로프를 이용한 케이블 트라이셉 푸시다운 12회 3세트</li>
				<li>로프를 사용한 케이블 삼두근 오버헤드 익스텐션 12회 3세트</li>
				<li>케이블 삼두근 반동 각 팔 12회 3세트</li>
				<li>푸쉬업 20회 3세트</li>
				<li>윗몸일으키기 20회 3세트</li>
				<li>플랭크 투 푸쉬업 20회 3세트</li>
				<li>푸쉬업 15회 3세트</li>
				<li>체스트 플라이 15회 3세트</li>
				<li>푸쉬업 10회 3세트</li>
				<li>플랭크 투 푸쉬업 10회 3세트</li>
			</ul>
		</div>

		<div class="routine">
			<div class="dayForm">화요일</div>
			<hr>
			<p>준비</p>
			<ul>
				<li>줄넘기 100회 3세트</li>
			</ul>
			<p>운동</p>
			<ul>
				<li>프론트 스쿼트 12회 3세트</li>
				<li>가중런지 12회 3세트</li>
				<li>덤벨을 이용한 스트레이트 레그 데드리프트 15회 3세트</li>
				<li>레그 프레스 12회 3세트</li>
				<li>레그 프레스에서 카프 레이즈 12회 3세트</li>
				<li>카프 레이즈 각 팔 12회 3세트</li>
				<li>플랭크 홀드 60회 3세트</li>
				<li>트위스트 윗몸일으키기 30회 3세트</li>
				<li>트위스트 행잉 니 레이즈 30회 3세트</li>

			</ul>
		</div>



		<div class="routine">
			<div class="dayForm">수요일</div>
			<hr>
			<p>지구력 훈련</p>
			<ul>
				<li>초보 : 1-3마일</li>
				<li>중급 : 3-5마일</li>
				<li>상급 : 5마일이상</li>
			</ul>
		</div>









		<div class="routine">
			<div class="dayForm">목요일</div>
			<hr>
			<p>준비</p>
			<ul>
				<li>줄넘기 100회 3세트</li>
			</ul>
			<p>운동</p>
			<ul>
				<li>시티드 아놀드 프레스 12회 3세트</li>
				<li>시티드 덤벨 프론트 레이즈 12회 3세트</li>
				<li>시티드 레터럴 레이즈 12회 3세트</li>
				<li>바벨 슈러그 12회 3세트</li>
				<li>업라이트 로우 12회 3세트</li>
				<li>커틀벨 스윙 15회 3세트</li>
				<li>L시트 홀드 30회 3세트</li>
				<li>가중 윗몸일으키기 30회 3세트</li>
				<li>행잉 레그 레이즈 30회 3세트</li>
			</ul>
		</div>


		<div class="routine">
			<div class="dayForm">금요일</div>
			<hr>
			<p>준비</p>
			<ul>
				<li>줄넘기 100회 3세트</li>
			</ul>
			<p>운동</p>
			<ul>
				<li>데드리프트 12회 3세트</li>
				<li>벤트 오버 로우 12회 3세트</li>
				<li>와이드 그립 풀다운 15회 3세트</li>
				<li>프리처 컬 12회 3세트</li>
				<li>해머 컬 12회 3세트</li>
				<li>친업 12회 3세트</li>
				<li>와이드 투 클로즈 푸쉬업 20회 3세트</li>
				<li>박스점프 20회 3세트</li>
				<li>와이드 투 클로즈 푸쉬업 15회 3세트</li>
			</ul>
		</div>

	</div>










	</pre>
	</div>

</body>
</html>