<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default_layout">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/css/character.css">
</head>
<body layout:fragment="section">
<p class="titleForm"> [ 원피스 - 조로 ]</p> <br>
  <div style="text-align: center;">
    
<img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjEwMTBfMjQ3%2FMDAxNjY1NDA2MjI4NTk2.xo77BEQ2dBCtok7Ib6I27KgFtu8JGM92UjHKSPeF6AMg.4Pm4N3tVN3TpQfRcDkUHtGzbO9Lauq-he3FVAcphWvAg.JPEG.tntnsgks%2FIMG_3220.JPG&type=a340",
 width="300" height="300"><br><br>
 <b>이름 : 롤로노아 조로</b><br>
 <b>키 : 185cm</b><br> 
 <b> 체중 : 84kg</b><br>
  <b>운동량 : 5일</b><br><br><br>
<p class="titleForm">캐릭터 연구</p><br><br>
  <r>
  만화 원피스의 등장인물. 밀짚모자 일당의 전투원. 몽키 D. 루피의 첫 번째 동료.<br> 세계 최강의 검사 '매의 눈' 쥬라큘 미호크를 뛰어넘어 세계 제일의 대검호가 되는 것이 목표인 삼도류(三刀流)의 검사다.<br> 밀짚모자 일당에 들어오기 이전부터 이미 이스트 블루에서 '해적 사냥꾼'으로 악명을 떨치고 있었고, 대외적으로는 밀짚모자 일당의 2인자로 여겨지고 있으며 일당의 선원들 중에서는 선장 루피와 함께 최악의 세대에 이름을 올린 유일한 인물이다. 
  </r> <br><br>

<p class="titleForm">캐릭터 운동 루틴</p>


<pre>


</div>

<div class="routine2">
  <div class="routine">
    <div class="dayForm">월요일</div>
    <hr>
    <p> 준비</p>
    <ul>
      <li>걷기 5-10분</li>
    </ul>
    <p> 운동</p>
    <ul>
      <li>디클라인 푸쉬업 25회 4세트</li>
      <li>윗몸 일으키기 20회 4세트</li>
      <li>딥스 15회 4세트</li>
      <li>풀업 10회 4세트</li>
      <li>블로우아웃 서킷 : 5세트</li>
      <li>줄넘기 이단뛰기 5회</li>
      <li>푸쉬업 5회</li>
      <li>줄넘기 이단뛰기 5회</li>
      <li>클로즈드 푸쉬업 5회</li>
      <li>줄넘기 이단뛰기 5회</li>
      <li>와이드 푸쉬업 5회</li>
    </ul>
  </div>

  <div class="routine">
    <div class="dayForm">화요일</div>
    <hr>
    <p> 준비</p>
    <ul>
      <li>걷기 5-10분</li>
    </ul>
    <p> 운동</p>
    <ul>
        <li>디클라인 푸쉬업 25회 4세트</li>
        <li>윗몸 일으키기 20회 4세트</li>
        <li>딥스 15회 4세트</li>
        <li>풀업 10회 4세트</li>
        <li>블로우아웃 서킷 : 5세트</li>
        <li>줄넘기 이단뛰기 5회</li>
        <li>푸쉬업 5회</li>
        <li>줄넘기 이단뛰기 5회</li>
        <li>클로즈드 푸쉬업 5회</li>
        <li>줄넘기 이단뛰기 5회</li>
        <li>와이드 푸쉬업 5회</li>
    
    </ul>
  </div>


  <div class="routine">
    <div class="dayForm">수요일</div>
    <hr>
    <p>준비</p>
    <ul>
      <li>걷기 5-10분</li>
    </ul>
    <p>맨몸 운동 서킷 트레이닝</p>
    <ul>
      <li>러닝 400m</li>
      <li>윗몸 일으키기 30회</li>
      <li>파이크 푸쉬업 25회</li>
      <li>스쿼트 20회</li>
      <li>행잉 레그 레이즈 15회</li>
      <li>클랩 푸쉬업 10회</li>
    </ul>
  </div>



  <div class="routine">
    <div class="dayForm">목요일</div>
    <hr>
    <p>준비</p>
    <ul>
      <li>걷기 5-10분</li>
    </ul>
    <p>운동</p>
    <ul>
      <li>러닝 400m</li>
      <li>스플릿 스쿼트 25회 4세트</li>
      <li>레그 레이즈 앤 힙 쓰러스트 20회 4세트</li>
      <li>줄넘기 이단 뛰기 15회 4세트</li>
      <li>사이드 런지 10회 4세트</li>
      <li>블로우아웃 서킷 트레이닝 3세트</li>
      <li>박스 점프</li>
      <li>와이드 스쿼트, 클로즈 스쿼트</li>
    </ul>
  </div>


  <div class="routine">
    <div class="dayForm">금요일</div>
    <hr>
    <p>준비</p>
    <ul>
      <li>걷기 5-10분</li>
    </ul>
    <p>운동</p>
    <ul>
      <li>클로즈 투 와이드 푸쉬업 25회 4세트</li>
      <li>트위스트 싯 업 20회 4세트</li>
      <li>푸쉬업 플랭크 15회 4세트</li>
      <li>친업 10회 4세트</li>
      <li>블로우아웃 서킷 트레이닝 3세트</li>
      <li>박스 점프</li>
      <li>니 탭 플랭크</li>
    </ul>
  </div>

</div>


 
</pre>
</div>

  
</body>
</html>