<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
<head>
	<title>운동 상세 페이지</title>
</head>
<body layout:fragment="section">
	Hello Exercise Detail World
	<input type="button" value="운동 목록 페이지" onclick="location.href='/exercise'">
	<table>
			<tr>
				<td th:text="${exercise.name}"></td>
			</tr>
			<tr>
				<td th:text="${exercise.muscle}"></td>
			</tr>
			<tr>
				<td th:text="${exercise.equip}"></td>
			</tr>
			<tr>
				<td th:text="${exercise.diff}"></td>
			</tr>
			<tr>
				<td th:text="${exercise.image}"></td>
			</tr>
			<tr>
				<td th:text="${exercise.effect}"></td>
			</tr>
			<tr>
				<td th:utext="${exercise.guide}"></td>
			</tr>
		</table>
</body>
</html>