<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default_layout">
<head>
<title>운동 목록 페이지</title>
<style>
.flex-container {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
}

.flex-item {
	display: inline-block;
	width: 260px;
	height: 260px;
	border: 1px solid;
	margin: 5px;
}
</style>

</head>
<body layout:fragment="section">
	<div>운동</div>
	<div class="flex-container">
		<th:block th:each="exercise : ${exercises}">
			<a th:href="|/exercise/${exercise.ex_no}|">
				<div class="flex-item" th:text=${exercise.name}></div>
			</a>
		</th:block>
	</div>
	<br>
	<br>
	<br>
</body>
</html>