<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<th:block th:replace="layout/head :: headFragment"></th:block>
	<title layout:title-pattern="$CONTENT_TITLE : $LAYOUT_TITLE">MK Fitness</title>
</head>
<body>
	<div id="root-container">
		<th:block th:replace="layout/header :: headerFragment"></th:block>
		<th:block th:replace="layout/nav :: navFragment"></th:block>
		<div id="contents">
			<div id="section">
				<th:block layout:fragment="section"></th:block>
			</div>
			<th:block th:replace="layout/footer :: footerFragment"></th:block>
		</div>
	</div>
</body>
</html>