<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="headerFragment">
	<div id="topbar">
		<div id="menu-icon" class="pointer">btn</div>
		<div id="title-image">
			<a href="/">image</a>
		</div>
		<div id="etc-btn" class="pointer">etc</div>
		<div id="login-btn">
			<a href="/login">login</a>
		</div>
		<div id="etc-popup">
			<div id="etc-theme">Theme</div>
			<div id="etc-lang">Language</div>
			<div id="etc-setting">Setting</div>
			<div id="etc-support">Support</div>
		</div>
	</div>
</html>