<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="navFragment">
	<div id="sidemodal" class="modal"></div>
	<div id="sidebar">
		<a href="/">
			<div class="flex-center">
				<img src="/images/icons/home.png">
			</div>
			<div class="flex-center">
				Home
			</div>
		</a>
		<a href="/exercise">
			<div class="flex-center">
				<img src="/images/icons/exercise.png">
			</div>
			<div class="flex-center">
				Exercise
			</div>
		</a>
		<a href="/routine/default">
			<div class="flex-center">
				<img src="/images/icons/routine2.png">
			</div>
			<div class="flex-center">
				Routine
			</div>
		</a>
		<a href="/routine/generate">
			<div class="flex-center">
				<img src="/images/icons/routine-icon.png">
			</div>
			<div class="flex-center">
				Generate
			</div>
		</a>
		<a href="/profile">
			<div class="flex-center">
				<img src="/images/icons/profile.png">
			</div>
			<div class="flex-center">
				Profile
			</div>
		</a>
	</div>
</html>