<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="navFragment">
	<div id="sidemodal" class="modal"></div>
	<div id="sidebar">
		<a href="/">
			<div>image</div>
			<div>Home</div>
		</a>
		<a href="/exercise">
			<div>image</div>
			<div>Exercise</div>
		</a>
		<a href="/routine/default">
			<div>image</div>
			<div>Routine</div>
		</a>
		<a href="/routine/generate">
			<div>image</div>
			<div>Generate</div>
		</a>
		<a href="#">
			<div>image</div>
			<div>Profile</div>
		</a>
	</div>
</html>