@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/* 전역 */
:root {
    --topbar-height: 50px;
    --nav-width-full: 200px;
    --nav-width-small: 70px;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

hr {
    border-top: 1px solid;
    border-bottom: 0;
}

.pointer {
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
}

.flex-center {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


/* 스크롤바(크롬) */
::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}

/* 스크롤바(파폭) */
* {
    scrollbar-width: thin;
}
#sidebar {
    scrollbar-width: none;
}


/* 전체 레이아웃 */
#root-container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin: 0 auto;
}


/* 상단바 */
#topbar {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: var(--topbar-height);
    max-width: 1200px;
}

#menu-icon, #etc-btn {
    width: var(--topbar-height);
    height: var(--topbar-height);
    margin: 0 5px;
}
#menu-icon, #etc-btn {
    width: calc(var(--topbar-height) - 4px);
    height: calc(var(--topbar-height) - 4px);
    border-radius: 100px;
}
#menu-icon > img, #etc-btn > img {
    max-width: calc(var(--topbar-height) - 30px);
    max-height: calc(var(--topbar-height) - 30px);
}

#title-image {
    margin-right: auto;
    height: var(--topbar-height);
}
#title-image img {
    margin-top: 5px;
    width: 130px;
}

#login-btn {
    height: var(--topbar-height);
    margin-right: 5px;
}
#login-btn div {
    width: 90px;
    height: 32px;
    border: 1px solid;
    border-radius: 100px;
}
#login-btn img {
    max-width: 18px;
    max-height: 18px;
}
#login-btn span {
    width: 46px;
    font-size: 16px;
    text-align: right;
}

#etc-popup {
    display: none;
    position: absolute;
    top: var(--topbar-height);
    right: 0;
    z-index: 1;
    padding: 10px 0;
    border-radius: 10px;
}
#etc-popup.open {
    display: block;
}

#etc-popup > div {
    width: 200px;
    padding: 4px 15px;
}


/* 사이드바 */
#sidemodal {
    z-index: 1;
}

#sidebar {
    position: fixed;
    top: var(--topbar-height);
    z-index: 1;
    width: var(--nav-width-full);
    height: calc(100vh - var(--topbar-height));
    font-size: 18px;
    overflow-x: hidden;
    overflow-y: overlay;
    transition: all 0.3s;
}

#sidebar > a {
    display: flex;
    margin-bottom: 5px;
}
#sidebar > a:first-child {
    margin-top: 20px;
}

#sidebar > a > div:first-child {
    min-width: var(--nav-width-small);
    width: var(--nav-width-small);
    height: var(--nav-width-small);
}

#sidebar > a > div:first-child > img {
    max-width: calc(var(--nav-width-small) - 24px);
    max-height: calc(var(--nav-width-small) - 24px);
}

#sidebar > a > div:last-child {
    box-sizing: border-box;
    padding-left: 10px;
    width: calc(var(--nav-width-full) - var(--nav-width-small));
    height: var(--nav-width-small);
    font-weight: 500;
}


/* 본문 영역 */
#contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
	min-height: calc(100vh - var(--topbar-height));
    overflow: auto;
}

#section {
    padding: 10px;
}

#footer {
    text-align: center;
}


/* 반응형 */
@media screen and (max-width: 425px) {
    #sidemodal.open {
        display: block;
    }

	#sidebar {
        left: calc(0px - var(--nav-width-full));
    }
    
    #sidebar.open {
        left: 0;
    }

    #sidebar > a > div:last-child {
        justify-content: flex-start;
    }

    #contents {
        width: 100%;
    }
}

@media screen and (min-width: 426px) and (max-width: 820px) {
    #sidemodal.open {
        display: block;
    }

    #sidebar.open > a > div:last-child {
        justify-content: flex-start;
    }

    #sidebar:not(.open) {
        width: var(--nav-width-small);
        font-size: 14px;
    }

    #sidebar:not(.open) > a {
        display: block;
    }

    #sidebar:not(.open) > a > div:last-child {
        justify-content: center;
        width: var(--nav-width-small);
        height: 25px;
        padding-left: 0;
        transform: translate(0, -10px);
    }

    #contents {
        margin-left: var(--nav-width-small);
        width: calc(100% - var(--nav-width-small));
    }
}

@media not screen and (max-width: 820px) {
    #root-container {
        max-width: 1200px;
    }

    #sidebar > a > div:last-child {
        justify-content: flex-start;
    }

    #contents {
        margin-left: var(--nav-width-full);
        width: calc(100% - var(--nav-width-full));
    }
}