#section * {
	box-sizing: border-box;
}

#section form {
	max-width: 800px;
	margin: 0 auto;
}

#section h2 {
	margin: 30px;
	text-align: center;
	font-size: 30px;
	color: #e2e2db;
}

#section span{
	font-size: 12px;
}

#section table {
	width: 100%;
}

#section tr {
	height: 75px;
}

#section td {
	font-size: 20px;
}

#section select {
	width: 15%;
	height: 40px;
	text-align: center;
	border-radius: 15px;
	font-size: 100%;
	background-color: #1F3A50;
	color: #e2e2db;
}

#section input[type="text"], #section input[type="email"], #section input[type="password"], #section input[type="tel"]
	{
	width: 100%;
	padding: 12px;
	margin-bottom: 16px;
	resize: vertical;
	box-sizing: border-box;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	background-color: #1F3A50;
	color: #e2e2db;
}
/** ^ 는 여기서부터 시작이다. $ 는 여기까지가 끝이다. **/
#section div[id^="btn_"] {
	width: 90px;
	height: 40px;
	padding: 12px;
	resize: vertical;
	box-sizing: border-box;
	border-radius: 15px;
	color: #e2e2db;
	
}

.submit-btn {
	background-color: #4CAF50;
	color: #ffffff;
	padding: 12px 20px;
	border: 3px solid #1F3A50;
	border-radius: 4px;
	cursor: pointer;
}

.submit-btn:hover {
	background-color: #45a049;
}

.active {
	background-color: #E48C55;
}

#year {
	width : 80px;
}

#month {
	width : 65px;
}

#day {
	width : 65px;
}

.btn {
	position: relative;
	width: 50%;
	height: 40px;
	background: #E48C55;
	color: #1F3A50;
	font-weight: bold;
	border: none;
	cursor: pointer;
	transition: 0.4s;
	border-radius: 15px;
	margin: auto;
	display: block;
}

.btn:hover {
	background-position: right;
}

.button {
	background-color: #1F3A50;
	color: #E48C55;
	border: 1px solid #E48C55;
	border-radius: 15px;
	
}