#myProfile table {
	border-collapse: collapse;
	border: 1px solid #ccc
}

#myProfile td {
	padding: 5px;
	border: 1px solid #ccc;
}

.header {
  margin-bottom: 20px;
  text-align: center;
}

.header div {
	display: inline-block;
	padding: 6px 0;
	margin: 0 5px;
  width: calc(50% - 14px);
	border-radius: 2px;
	border: 1px solid #E2E2DB80;
  font-weight: 500;
  background-color: #455868;
}

.header div:hover:not(.on) {
	background-color: #E2E2DB60;
}

.header .on {
	background-color: #E48C55;
}

.header2 {
  margin-bottom: 10px;
  text-align: center;
}

.header2 div {
	display: inline-block;
	padding: 5px 10px;
	margin: 0 10px;
	border-bottom: 2px solid transparent;
}

.header2 div:hover:not(.on) {
	border-color: #E2E2DB80;
}

.header2 .on {
	border-color: #E48C55;
}

.hide {
	display: none;
}

.img {
	display: block;
}

.btn {
	display: inline-block;
	font: inherit;
	background: none;
	border: none;
	color: inherit;
	padding: 0;
	cursor: pointer;
}

.btn:focus {
	outline: 0.5rem auto #4d90fe;
}

.visually-hidden {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

/* Profile Section */
.profile {
  display: flex;
  align-items: center;
	padding: 1.5rem 1.5rem;
}

.profile::after {
	content: "";
	display: block;
	clear: both;
}

.profile-image {
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
  width: 100px;
	height: 100px;
	margin-right: 1rem;
	/* 칸 사이의 공간(오른쪽 여백)을 조절하려면 이 부분을 수정합니다. 예를 들어, 'margin-right: 2rem;'로 변경하면 오른쪽 여백이 2rem이 됩니다. */
	vertical-align: middle;
}

.profile-image img {
	border-radius: 50%;
	max-width: 100px; /* 이미지의 너비를 설정합니다. */
	max-height: 100px; /* 이미지의 높이를 설정합니다. */
	vertical-align: middle;
}

.profile-user-settings {
	float: left;
}

.profile-user-name {
	display: inline-block;
	font-size: 2.0rem; /* 폰트 크기를 3.2rem에서 2.5rem으로 줄입니다. */
	font-weight: 600;
	vertical-align: middle; /* 프로필 이름과 버튼이 같은 수준에서 정렬되도록 합니다. */
}

.profile-edit-btn {
	display: inline-block; /* 버튼을 인라인 요소로 설정합니다. */
	font-size: 0.8rem; /* 폰트 크기를 1.4rem에서 1rem으로 줄입니다. */
	line-height: 1.5; /* line-height를 1.8에서 1.5로 줄입니다. */
	border: 0.1rem solid #dbdbdb;
	border-radius: 0.3rem;
	padding: 0.1rem 0.5rem; /* padding을 조절하여 버튼 크기를 유동적으로 변경합니다. */
	margin-left: 1rem; /* margin-left를 2rem에서 1rem으로 줄입니다. */
	background-color: #1F3A50;
	color: #E48C55;
	border: 1px solid #E48C55;
	border-radius: 15px;
	vertical-align: middle; /* 프로필 이름과 버튼이 같은 수준에서 정렬되도록 합니다. */
	font-weight: 600;
}

.profile-settings-btn {
	font-size: 1rem;
	margin-left: 1rem;
}

.profile-real-name {
	font-size: 1.0rem; /* 폰트 크기를 1.4rem에서 1rem으로 줄입니다. */
	font-weight: 400;
}

.inline-element {
	display: inline-block;
	vertical-align: middle; /* 수직 정렬을 위해 추가 */
}

/* 즐겨찾기 */
#bookmark table {
  margin: 0 auto;
}
#bookmark td {
  padding: 2px 8px;
}
#bookmark tr > td:not(:nth-child(2)) {
  text-align: center;
}