body {
    background-color: #777;
    color: #e2e2db;
}

#root-container {
    background-color: #1f3a50;
    box-shadow: 0 0 15px #333;
}

.modal {
    background-color: #00000080;
}

#topbar {
    background-color: #1f3a50;
}

#menu-icon {
    background-color: #559;
}

#title-image {
    background-color: #955;
}

#etc-btn {
    background-color: #559;
}

#login-btn {
    background-color: #955;
}

#etc-popup {
    background-color: #555;
}

#sidebar {
    background-color: #1f3a50;
}

#sidebar > a > div:first-child {
    background-color: #955;
}

#sidebar > a > div:last-child {
    background-color: #559;
}

#footer {
    background-color: #bbb;
}