<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default_layout">
<head>
<meta charset="UTF-8">
<title>프로필 편집</title>
<link rel="stylesheet" href="/css/userInformation.css">
<link rel="stylesheet" href="/css/userInformation2.css">
<style>
h1 {
	margin: 30px;
	text-align: center;
	font-size: 30px;
	color: #e2e2db;
}

legend {
	font-size: 20px;
	font-weight: bold;
}

.toggles {
	width: 43%;
	display: inline-block;
	vertical-align: top;
	padding: 3px;
	margin: 10px;
}


th {
	font-size: 19px;
	color: #e2e2db;
	text-align: left;
	padding: 10px;
}

td {
	text-align: left;
}

input[type="button"] {
	background-color: #1F3A50;
	color: #E48C55;
	border: 1px solid #E48C55;
	border-radius: 15px;
	width: 80px;
}

.delete {
	background-color: #1F3A50;
	color: #E48C55;
	border: 1px solid #E48C55;
	border-radius: 15px;
	width: 80px;
}

div {
	text-align: center;
}

.equipment {
	font-size: 50px;
}
</style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	$(document).ready(function() {
		$('button').click(function() {

			var buttonId = $(this).attr('id');
			var ariaPressed = $(this).attr('aria-pressed');
			var data = {
				equip_id : buttonId,
				status : ariaPressed === 'false'
			};

			$.ajax({
				type : 'POST',
				url : "/setting/userInformation",
				dataType : "json",
				data : data,
				success : function(result) {
					if (result.status === 'success') {
						if (ariaPressed === 'true') {
							alert("추가되었습니다.");

							$('#' + buttonId).attr('aria-pressed', 'true');
						} else {
							alert("해제되었습니다.");

							$('#' + buttonId).attr('aria-pressed', 'false');
						}
					} else if (result.status === 'fail') {
						alert("오류가 발생했습니다.");
					}
				},
				error : function() {
					alert('오류가 발생했습니다.');
				}
			});
		});
	});

	function toggle(btnID) {
		var theButton = document.getElementById(btnID);
		if (theButton.getAttribute("aria-pressed") == "false") {
			theButton.setAttribute("aria-pressed", "true");
		} else {
			theButton.setAttribute("aria-pressed", "false");
		}
	}
</script>


</head>
<body layout:fragment="section">

	<h1>[ 개인 정보 ]</h1>
	<fieldset class="toggles">
		<legend> 나의 프로필 </legend>
		<div>
			<table>

				<tr>
					<th>이름</th>
					<td th:text="${session.memberLogin.name}"></td>
				</tr>
				<tr>
					<th>아이디</th>
					<td th:text="${session.memberLogin.mem_id}"></td>
				</tr>
				<tr>
					<th>내 계정</th>
					<td th:text="${session.memberLogin.mail}"></td>
				</tr>
				<tr>
					<th>생년월일</th>
					<td th:text="${session.memberLogin.birth}"></td>
				</tr>

				<tr>
					<th>성별</th>
					<td th:text="${session.memberLogin.gender}"></td>
				</tr>
				<tr>
					<th>전화번호</th>
					<td th:text="${session.memberLogin.phone}"></td>
				</tr>
			</table>
		</div>



	</fieldset>

	<fieldset class="toggles flip">
		<legend>나의 운동기구</legend>
		<div>
			<th:block th:unless="${#lists.contains(equipmented, 'dumbbell')}">
				<button type="button" id="dumbbell" aria-pressed="false"
					class="equipment" onclick="toggle(this.id);">덤밸</button>
			</th:block>
			<th:block th:if="${#lists.contains(equipmented, 'dumbbell')}">
				<button type="button" id="dumbbell" aria-pressed="true"
					class="equipment" onclick="toggle(this.id);">덤밸</button>
			</th:block>
		</div>
		<div>
			<th:block th:unless="${#lists.contains(equipmented, 'band')}">
				<button type="button" id="band" aria-pressed="false"
					class="equipment" onclick="toggle(this.id);">밴드</button>
			</th:block>
			<th:block th:if="${#lists.contains(equipmented, 'band')}">
				<button type="button" id="band" aria-pressed="true"
					class="equipment" onclick="toggle(this.id);">밴드</button>
			</th:block>
		</div>
		<div>
			<th:block th:unless="${#lists.contains(equipmented, 'pullup')}">
				<button type="button" id="pullup" aria-pressed="false"
					class="equipment" onclick="toggle(this.id);">풀업바</button>
			</th:block>
			<th:block th:if="${#lists.contains(equipmented, 'pullup')}">
				<button type="button" id="pullup" aria-pressed="true"
					class="equipment" onclick="toggle(this.id);">풀업바</button>
			</th:block>
		</div>
		<div>
			<th:block th:unless="${#lists.contains(equipmented, 'cycle')}">
				<button type="button" id="cycle" aria-pressed="false"
					onclick="toggle(this.id);">사이클</button>
			</th:block>
			<th:block th:if="${#lists.contains(equipmented, 'cycle')}">
				<button type="button" id="cycle" aria-pressed="true"
					onclick="toggle(this.id);">사이클</button>
			</th:block>
		</div>
		<div>
			<th:block th:unless="${#lists.contains(equipmented, 'treadmill')}">
				<button type="button" id="treadmill" aria-pressed="false"
					onclick="toggle(this.id);">러닝머신</button>
			</th:block>
			<th:block th:if="${#lists.contains(equipmented, 'treadmill')}">
				<button type="button" id="treadmill" aria-pressed="true"
					onclick="toggle(this.id);">러닝머신</button>
			</th:block>
		</div>

	</fieldset>




</body>
</html>