<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default_layout">
<head>
<meta charset="UTF-8">
<title>프로필 편집</title>
<link rel="stylesheet" href="/css/userInformation.css">
<link rel="stylesheet" href="/css/userInformation2.css">


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
var lang = location.pathname.substr(0, 3);

$(document).ready(function() {
	  $('button').click(function() {
		 
	    var buttonId = $(this).attr('id');
	    var ariaPressed = $(this).attr('aria-pressed');
	    var data = {
	    	    equip_id: buttonId,
	    	    status: ariaPressed === 'false'
	    	  };
	    
	    $.ajax({
	      type: 'POST',
	      url: lang + "/setting/userInformation",
	      dataType: "json",
	      data: data,
	      success: function(result) {
	    	  if (result.status === 'success') {
	              if (ariaPressed === 'true') {
	        		    alert("추가되었습니다.");
	        		    
	        		    $('#' + buttonId).attr('aria-pressed', 'true');
	        		  } else {
	        		    alert("해제되었습니다.");
	        		    
	        		    $('#' + buttonId).attr('aria-pressed', 'false');
	        		  }
	        		} else if (result.status === 'fail') {
	        		  alert("오류가 발생했습니다.");
	        		}
	      },
	      error: function() {
	        alert('오류가 발생했습니다.');
	      }
	    });
	  });
	});


	function toggle(btnID) {
	  var theButton = document.getElementById(btnID);
	  if (theButton.getAttribute("aria-pressed") == "false") {
	    theButton.setAttribute("aria-pressed", "true");
	  } else {
	    theButton.setAttribute("aria-pressed", "false");
	  }
	}

</script>

<style>
.modal1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	color: #1F3A50;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal1.show {
	display: block;
}

.modal_body {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 500px;
	padding: 40px;
	text-align: center;
	background-color: #E2E2DB;
	border-radius: 50px;
	box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
	transform: translateX(-50%) translateY(-50%);
}
</style>

</head>
<body layout:fragment="section">

	<h1>개인 정보</h1>
	<fieldset class="toggles">
		<legend>개인 정보</legend>
		<div>
			<table>
				<tr>
					<th>이름</th>
					<td th:text="${session.memberLogin.name}"></td>
				</tr>
				<tr>
					<th>생년월일</th>
					<td th:text="${session.memberLogin.birth}"></td>
				</tr>
				<tr>
					<th>내 계정</th>
					<td th:text="${session.memberLogin.mail}"></td>
				</tr>
				<tr>
					<th>비밀번호</th>
					<td th:text="${session.memberLogin.password}"></td>
				</tr>
				<tr>
					<th>성별</th>
					<td th:text="${session.memberLogin.gender}"></td>
				</tr>
				<tr>
					<th>전화번호</th>
					<td th:text="${session.memberLogin.phone}"></td>
				</tr>
			</table>
		</div>

		<input type="button" value="수정하기"
			th:onclick="|location.href='@{/{lang}/setting/update(lang=${lang})}'|">

	</fieldset>

	<fieldset class="toggles flip">
		<legend>나의 프로필</legend>
		<div>
			<th:block th:unless="${#lists.contains(equipmented, 'dumbbell')}">
				<button type="button" id="dumbbell" aria-pressed="false"
					onclick="toggle(this.id);">덤밸</button>
			</th:block>
			<th:block th:if="${#lists.contains(equipmented, 'dumbbell')}">
				<button type="button" id="dumbbell" aria-pressed="true"
					onclick="toggle(this.id);">덤밸</button>
			</th:block>
		</div>
		<div>
			<th:block th:unless="${#lists.contains(equipmented, 'band')}">
				<button type="button" id="band" aria-pressed="false"
					onclick="toggle(this.id);">밴드</button>
			</th:block>
			<th:block th:if="${#lists.contains(equipmented, 'band')}">
				<button type="button" id="band" aria-pressed="true"
					onclick="toggle(this.id);" >밴드</button>
			</th:block>
		</div>
		<div>
			<th:block th:unless="${#lists.contains(equipmented, 'pullup')}">
				<button type="button" id="pullup" aria-pressed="false"
					onclick="toggle(this.id);">풀업바</button>
			</th:block>
			<th:block th:if="${#lists.contains(equipmented, 'pullup')}">
				<button type="button" id="pullup" aria-pressed="true"
					onclick="toggle(this.id);" >풀업바</button>
			</th:block>
		</div>
		<div>
			<th:block th:unless="${#lists.contains(equipmented, 'cycle')}">
				<button type="button" id="cycle" aria-pressed="false"
					onclick="toggle(this.id);">사이클</button>
			</th:block>
			<th:block th:if="${#lists.contains(equipmented, 'cycle')}">
				<button type="button" id="cycle" aria-pressed="true"
					onclick="toggle(this.id);" >사이클</button>
			</th:block>
		</div>

	</fieldset>

	<form>
		<fieldset class="toggles">
			<legend>환경설정</legend>
			<div>
				<section class="inline-grid">
					<div style="border-radius: 7px;">디자인</div>
					<strong>디자인 : 밝은 테마</strong> <br> <br>


					<div style="border-radius: 7px;">언어설정</div>

					<strong> 언어 : 한국어</strong> <br> <br>

					<div style="border-radius: 7px;">고객센터</div>
					<br> <br>

					<div style="border-radius: 7px;">내용</div>
					<br> <br>

					<div style="border-radius: 7px;">탈퇴하기</div>
					<button type="button"
						onclick="document.querySelector('.modal1').classList.add('show'); document.body.style.overflow = 'hidden';">탈퇴하기</button>

				</section>

			</div>
		</fieldset>
	</form>

	<div class="modal1">
		<div class="modal_body">
			<form action="/setting/withdrawal" method="post">
				<h2 class="form-signin-heading">회원탈퇴를 하시겠습니까?</h2>
				<h3>마지막으로 비밀번호 입력을 부탁드립니다.</h3>
				<div>
					<input type="password" class="form-control" name="password"
						placeholder="Password" required="" />
				</div>
				<br>
				<button type="submit">탈퇴하기</button>
				<div th:if="${error}">
					<p th:text="${error}"></p>
				</div>
				<button class="btn-close-popup">닫기</button>
			</form>
		</div>
	</div>

	<script>
		// 모달 닫기 버튼에 이벤트 리스너 등록
		const btnClosePopup = document.querySelector('.btn-close-popup');
		btnClosePopup.addEventListener('click', () => {
			document.querySelector('.modal1').classList.remove('show');
			document.body.style.overflow = 'auto';
		});
	
	</script>


</body>
</html>