<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/default.css">
	<link rel="stylesheet" href="/css/theme.css">
	<title>Error : ABC FITNESS</title>
	<style>
		#contents {
			width: 100%;
			margin-left: 0;
			justify-content: center;
		}
		#contents img {
			width: 100%;
			max-width: 500px;
		}
	</style>
</head>
<body>
	<div id="root-container">
		<div id="topbar">
			<div id="menu-icon" class="pointer flex-center">
				<img src="/images/icons/menu.png">
			</div>
			<div id="title-image" class="flex-center">
				<a href="/">
					<img src="/images/etc/logo.png">
				</a>
			</div>
			<div id="etc-btn" class="pointer flex-center">
				<img src="/images/icons/drop_dowrn.png">
			</div>
		</div>
		<div id="contents" class="flex-center">
			<img src="/images/etc/5xxerror.png">
		</div>
	</div>
</body>
</html>