<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
<head>
	<title>로그인</title>
	<link rel="stylesheet" href="/css/login.css">
</head>
<body layout:fragment="section">
	<form class="form-signin"
		th:action="@{/login(redirectURL=${#request.getParameter('redirectURL')})}"
		method="post" th:object="${memberLogin}">

		<div class="wrapper">
			<h2 class="form-signin-heading">Login</h2>
			<input type="text" class="form-control" th:field="*{mail}"
				placeholder="Email Address" required="" autofocus="" />
			<div th:errorClass="field-error" th:errors="*{mail}"></div>
			<br> <input type="password" class="form-control"
				th:field="*{password}" placeholder="Password" required="" />
			<div th:errorClass="field-error" th:errors="*{password}"></div>
			<label class="checkbox"> </label>
			<div th:if="${#fields.hasGlobalErrors()}">
				<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">
			</div>


			<div class="center">
				<button class="btn btn-lg btn-primary btn-block" type="submit">로그인</button>
				<button class="btn btn-lg btn-primary btn-block"
					onclick="location.href='/join'">회원가입</button>
				<br> <input type="submit" value="비밀번호를 잊으셨나요?"  onclick="location.href='/login/findPassword'">
			</div>
		</div>

	</form>
</body>
</html>